<p id="notice"><%= notice %></p>

<h1>Listing Mass Constraints</h1>

<table>
  <thead>
    <tr>
      <th>Mass</th>
      <th>Constraint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mass_constraints.each do |mass_constraint| %>
      <tr>
        <td><%= mass_constraint.mass %></td>
        <td><%= mass_constraint.constraint %></td>
        <td><%= link_to 'Show', mass_constraint %></td>
        <td><%= link_to 'Edit', edit_mass_constraint_path(mass_constraint) %></td>
        <td><%= link_to 'Destroy', mass_constraint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mass constraint', new_mass_constraint_path %>
