<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule header:</strong>
  <%= @schedule.schedule_header %>
</p>

<p>
  <strong>Fitness:</strong>
  <%= @schedule.fitness %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
