<p id="notice"><%= notice %></p>

<h1>Listing Masses</h1>

<table>
  <thead>
    <tr>
      <th>Begin</th>
      <th>End</th>
      <th>Church</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @masses.each do |mass| %>
      <tr>
        <td><%= mass.begin %></td>
        <td><%= mass.end %></td>
        <td><%= mass.church %></td>
        <td><%= link_to 'Show', mass %></td>
        <td><%= link_to 'Edit', edit_mass_path(mass) %></td>
        <td><%= link_to 'Destroy', mass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mass', new_mass_path %>
