<p id="notice"><%= notice %></p>

<h1>Listing Schedule Fitnesses</h1>

<table>
  <thead>
    <tr>
      <th>Schedule header</th>
      <th>Schedule candidate</th>
      <th>Fitness</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedule_fitnesses.each do |schedule_fitness| %>
      <tr>
        <td><%= schedule_fitness.schedule_header %></td>
        <td><%= schedule_fitness.schedule_candidate %></td>
        <td><%= schedule_fitness.fitness %></td>
        <td><%= link_to 'Show', schedule_fitness %></td>
        <td><%= link_to 'Edit', edit_schedule_fitness_path(schedule_fitness) %></td>
        <td><%= link_to 'Destroy', schedule_fitness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule fitness', new_schedule_fitness_path %>
